/* body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background: #f5f5f5;
} */

.project {
    border: 2px dashed #999;
    border-radius: 10px;
    padding: 20px;
    background: white;
    margin: 5px
}

.project-title {
    font-weight: bold;
    font-size: large
}