.project {
    border: 2px dashed #a0f3a0;
    border-radius: 10px;
    padding: 10px;
    background: #f8f8f8;
    margin: 5px;
    display: block;
    overflow: auto;
}

.project-title {
    font-weight: bold;
    font-size: large;
}