html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: auto;
    padding: 0 0.5em 0.5em 0.5em;
    background-color: #f5f5f5;
    max-width: 48em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #005500;
    scroll-margin-top: 47px;
}

.header {
    display: flex;
    position: sticky;
    align-items: end;
    justify-content: space-between;
    top: 0;
    background-color: #f5f5f5;
    padding-top: 0.5em;
    gap: 1em;
}

.header a {
    text-decoration: none;
}

.header h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

.header-sections {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

.header-logos {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.header-logos img {
    display: block;
    height: 1.25em;
}