:root {
    --bg-color: #f5f5f5;
    --primary-color: #007700;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: auto;
    padding: 0 0.5em 0.5em 0.5em;
    background-color: var(--bg-color);
    max-width: 48em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    scroll-margin-top: 47px;
}

.header {
    display: flex;
    position: sticky;
    align-items: baseline;
    justify-content: space-between;
    top: 0;
    background-color: var(--bg-color);
    padding: 0.5em 0;
    gap: 1em;
}

.header a {
    text-decoration: none;
    cursor: pointer;
}

.header h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 auto;
}

.header-left {
    display: flex;
    flex: 1;
    gap: 1em;
    align-items: baseline;
}

.header-sections {
    display: flex;
    gap: 1em;
}

.header-logos {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.header-logos img {
    display: block;
    height: 1.25em;
}

@media (max-width: 767px) {
    .header-left {
        flex-direction: column;
        gap: 0;
    }
}

footer {
    padding-top: 2em;
    text-align: center;
    font-size: small
}